/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    padding: 10px;
    background-color: #FFF;
}

.top-t {
    border: 1px solid gold;
}

.top-b {
    border: 4px solid gold;
    border-top: none;
    /* border-right: 4px solid gold; */
}

div#container {
  display: flex;
  width: 128px;
  height: 64px;
  padding: 16px;
  justify-content: center;
  flex-flow: row nowrap;
  background-color: black;
  border-radius: 5%;
  border-style: groove;
  border: 4px solid salmon;
}

div.digit {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 32px;
    height: 32px;
    justify-content: center;
    padding: 0px 3px;
}

#box-top {
    position: relative;
    height: 32px;
    width: 32px;
}

#box-bottom {
    position: relative;
    height: 32px;
    width: 32px;
}

.grain-V {
    width: 6px;
    height: 32px;
    /* transition: all 200ms ease; */
    background-repeat: no-repeat;
}

.V-top-left { 
    position: absolute;
    top: 0;
    left: 0;
}
.V-top-right { 
    position: absolute;
    top: 0;
    right: 0;
}

.V-bottom-left { 
    position: absolute;
    top: 0;
    left: 0;
}

.V-bottom-right { 
    position: absolute;
    top: 0;
    right: 0;
}

.grain-H {
    width: 32px;
    height: 6px;    
    /* transition: all 200ms ease; */
    background-repeat: no-repeat;
}

.H-top {
    position: absolute;
    top: -4px;
}

.H-mid {
    position: absolute;
    bottom: -4px;
}

.H-bottom {
    position: absolute;
    bottom: -4px;
}